/Array
/assignment.html
/assignment.js
/bootstrap-5.0.2-dist
/calculater.html
/calculater.js
/CallbackFunction
/charectercount.js
/Dom
/duplicate.html
/factorial.html
/fibonacci.html
/greater.html
/index.html
/index.js
/longword.html
/palindrom.html
/prime.html
/reverse.html
/stringOpertions.html
/themechange.css
/themechange.html
/themechnge.js
/twittercharecterCount.html
/unique.html
/vowels.html